**/.git
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.vscode
**/venv
**/node_modules
**/.env
**/*.log
**/.DS_Store
**/.idea
**/.vercel
**/dist
**/build
**/*.egg-info
**/.pytest_cache
**/.mypy_cache
**/.dockerignore
**/docker-compose*.yml 
**/Dockerfile*
**/README.md
**/.gitignore