fastapi==0.115.11
uvicorn==0.34.0
scalar-fastapi 
starlette==0.46.0 
pydantic==2.7.0 
pydantic-core==2.18.1
pydantic-settings==2.8.1
typing-extensions==4.11.0
annotated-types==0.6.0
SQLAlchemy==2.0.36
asyncpg==0.29.0
alembic==1.14.0
bcrypt==4.1.2
passlib==1.7.4
pyJWT==2.8.0
email-validator==2.1.1
black==25.1.0
isort==5.12.0
pylint==3.3.6
mccabe==0.7.0
astroid==3.3.9
pathspec==0.12.1
platformdirs==4.3.7
setuptools==69.0.3
iniconfig==2.0.0
tomli==2.0.1
tomlkit==0.13.2
alembic>=1.11.1
psycopg2-binary
asyncpg