services:
  app:
   image: mcr.microsoft.com/devcontainers/python:1-3.12-bullseye
   volumes:
     - ..:/workspace:cached
   command: sleep infinity
   depends_on:
     - postgres

  postgres:
   image: postgres:13
   restart: always
   environment:
     POSTGRES_USER: root
     POSTGRES_PASSWORD: example
     POSTGRES_DB: mydatabase
    
   ports:
     - "5432:5432"
   volumes:
     - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: